@model PrettyGallery.ViewModels.ViewPrettyGalleryViewModel
@if (!string.IsNullOrEmpty((string)Model.Description)) {
    <div class="galleryDescription">@Model.Description</div>
}
<ul class="icons">
@foreach(var item in Model.MediaFiles)
{
    <li>
        <div class="thumbnail" style="width:@(Model.ThumbnailWidth)px;height:@(Model.ThumbnailHeight)px;"><a href="@item.Url" rel="prettyPhoto@(Model.GalleryId)"
                title="@item.Description"><img src="@item.ThumbnailUrl" alt="@item.Title"
        /></a></div>
    </li>
}
</ul>

