@model Richinoz.Paypal.Models.OrderPart
@{
    Script.Require("jQuery");
    
}
<fieldset>
    <legend>@T("Details")</legend>

    @Html.Label("Id", T("Id"))
    @Html.Label(Model.Id.ToString())

    @Html.LabelFor(m => m.TransactionId, T("TransactionId"))
    @Html.TextBoxFor(m => m.TransactionId)

    @Html.LabelFor(m => m.Amount, T("Amount"))
    @Html.TextBoxFor(m => m.Amount)
   
    @{
        
        <h3>@Html.Label("Items", T("Items"))</h3>
        foreach (var orderItem in Model.Order.OrderItems)
        {
            <h4>@Html.Label(orderItem.Name)</h4>
        }
    }
    <fieldset class="contentItems bulk-items">
        <ul>
            <li>
                <div class="summary">
                    <div class="properties bulk-actions">
                        Address
                        <div class="metadata">
                            @Html.LabelFor(m => m.Order.Address, T("Street"))
                            @Html.TextBoxFor(m => m.Order.Address.Street1)
                            @Html.LabelFor(m => m.Order.Address, T("City"))
                            @Html.TextBoxFor(m => m.Order.Address.City)
                            @Html.LabelFor(m => m.Order.Address, T("Postcode"))
                            @Html.TextBoxFor(m => m.Order.Address.Zip)
                        </div>
                    </div>
                </div>
            </li>
        </ul>
       
    </fieldset>
</fieldset>
