@{ var checkoutUrl = String.Format(Model.UseSandbox ? "https://www.sandbox.paypal.com/cgi-bin/webscr" : "https://www.paypal.com/cgi-bin/webscr");
   var isMini = Model.IsMiniCart != null && (bool)Model.IsMiniCart;
   var width = isMini ? 160 : 150;
   var height = isMini ? 43 : 40;
   
    }
  
<form id="frm" action="@checkoutUrl">
    
    
    
     @*  <add key="BusinessAccountKey" value="richse_1361416757_biz@gmail.com" />
    <add key="UseSandBox" value="true" />
    <add key="CurrencyCode" value="AUD" />
    <add key="ReturnURL" value="http://120.148.131.24/Paypal/Return" />
    <add key="CancelURL" value="http://120.148.131.24/Paypal/Return" />
    <add key="NotifyURL" value="http://120.148.131.24/Paypal/IPN" />*@

    @*@Html.HiddenFor(model => model.cmd)*@
    <input type="hidden" name="@("cmd")" value="_cart"/>

    @* @Html.HiddenFor(model => model.business)*@
    <input type="hidden" name="@("business")" value="richse_1361416757_biz@gmail.com"/>

    @*@Html.HiddenFor(model => model.notify_url)*@
    <input type="hidden" name="@("notify_url")" value="http://localhost/Orchard/"/>

    @*@Html.HiddenFor(model => model.@return)*@
    <input type="hidden" name="@("return")" value="@Model.ReturnURL"/>

    @*@Html.HiddenFor(model => model.cancel_return)*@
    <input type="hidden" name="@("cancel_return")" value="@Model.ReturnURL"/>

    @*@Html.HiddenFor(model => model.currency_code)*@
    <input type="hidden" name="@("currency_code")" value="@Model.Currency"/>

    @*@Html.Hidden("upload", "1")*@
    <input type="hidden" name="@("upload")" value="1"/>

    @{
        int i = 1;
        foreach (var product in Model.CartItems)
        {
            <input type="hidden" name="@("item_name_" + i)" value="@product.Title"/>
            <input type="hidden" name="@("amount_" + i)" value="@product.DiscountedPrice"/>
            <input type="hidden" name="@("quantity_" + i)" value="@product.Quantity"/>
        
            i++;
        }
 @* @foreach (var product in Model.CartItems)
          {
              i++;
        <input type="hidden" name="@("item_name_" + i)" value="@product.Title"/>
        <input type="hidden" name="@("item_id_" + i)" value="@product.Sku"/>
        <input type="hidden" name="@("item_weight_" + i)" value="@product.Weight"/> 
        <input type="hidden" name="@("item_weight_unit_" + i)" value="@Model.WeightUnit"/> 
        <input type="hidden" name="@("item_description_" + i)" value="@product.Title"/>
        <input type="hidden" name="@("item_price_" + i)" value="@product.DiscountedPrice"/>
        <input type="hidden" name="@("item_currency_" + i)" value="@Model.Currency"/>
        <input type="hidden" name="@("item_quantity_" + i)" value="@product.Quantity"/>
        <input type="hidden" name="@("item_merchant_id_" + i)" value="@Model.MerchantId"/>
          }*@


    }
     <input id="paypalimg" type="image" name="Paypal Checkout" alt="@T("Fast checkout through Paypal")"
            src = "https://www.paypal.com/en_AU/i/bnr/bnr_shopNowUsing_150x40.gif" height="@height" width="@width"/>
</form>
<p style="text-align: center">
    <h4 style="display: none" id="hidden">
        Redirecting to Paypal...
    </h4>
</p>
<script type="text/javascript">
    $(this.document).ready(function () {
        $("#paypalimg").click(function () {
            $("#hidden").show();
        });
    });
</script>
