@{
    Script.Include("Paypal.js");

    var checkoutUrl = String.Format(Model.UseSandbox ? "https://www.sandbox.paypal.com/cgi-bin/webscr" : "https://www.paypal.com/cgi-bin/webscr");    
    var isMini = Model.IsMiniCart != null && (bool)Model.IsMiniCart;
    var postUrl = Request.RawUrl.Substring(0, Request.RawUrl.Length - 4) + "paypal/posttopaypal";
    var width = isMini ? 160 : 150;
    var height = isMini ? 43 : 40;
    var includedAreaToGoogleFormatString = new Dictionary<string, KeyValuePair<string, string>> {
        {"world", new KeyValuePair<string, string>("checkout-flow-support.merchant-checkout-flow-support.shipping-methods.flat-rate-shipping-{0}.shipping-restrictions.allowed-areas.world-area-{1}", "true")},
        {"us", new KeyValuePair<string, string>("checkout-flow-support.merchant-checkout-flow-support.shipping-methods.flat-rate-shipping-{0}.shipping-restrictions.allowed-areas.us-country-area-{1}.country-area", "ALL")},
        {"us-continental", new KeyValuePair<string, string>("ship_method_us_area_{0}", "CONTINENTAL_48")}
    };
   var excludedAreaToGoogleFormatString = new Dictionary<string, KeyValuePair<string, string>> {
        {"us", new KeyValuePair<string, string>("checkout-flow-support.merchant-checkout-flow-support.shipping-methods.flat-rate-shipping-{0}.shipping-restrictions.excluded-areas.us-country-area-{1}.country-area", "ALL")}
    };
    }
  
<form id="frm" action="@postUrl" method="POST">
    
    
    @Html.AntiForgeryToken()
    <input type="hidden" name="@("checkout_Url")" value="@checkoutUrl" />
    @*@Html.HiddenFor(model => model.cmd)*@
    <input type="hidden" name="@("cmd")" value="_cart"/>

    @* @Html.HiddenFor(model => model.business)*@
    <input type="hidden" name="@("business")" value="@Model.Business"/>

    @*@Html.HiddenFor(model => model.notify_url)*@
    <input type="hidden" name="@("notify_url")" value="@Model.NotifyUrl"/>

    @*@Html.HiddenFor(model => model.@return)*@
    <input type="hidden" name="@("return")" value="@Model.ReturnURL"/>

    @*@Html.HiddenFor(model => model.cancel_return)*@
    <input type="hidden" name="@("cancel_return")" value="@Model.ReturnURL"/>

    @*@Html.HiddenFor(model => model.currency_code)*@
    <input type="hidden" name="@("currency_code")" value="@Model.Currency"/>

    @*@Html.Hidden("upload", "1")*@
    <input type="hidden" name="@("upload")" value="1"/>
    

    @{
        int i = 1;
        foreach (var product in Model.CartItems)
        {
            <input type="hidden" name="@("item_name_" + i)" value="@product.Title"/>
            <input type="hidden" name="@("amount_" + i)" value="@product.DiscountedPrice"/>
            <input type="hidden" name="@("quantity_" + i)" value="@product.Quantity"/>
        
            i++;
        }

           i = 0;
    }
    
      @foreach (var shippingMethod in Model.ShippingMethods) {
        i++;
        var j = 0;
        <input type="hidden" name="@("ship_method_name_" + i)" value="@shippingMethod.DisplayName" />
        <input type="hidden" name="@("ship_method_price_" + i)" value="@shippingMethod.Price" />
        <input type="hidden" name="@("ship_method_currency_" + i)" value="@Model.Currency" />
        if (shippingMethod.IncludedShippingAreas != null) {
            foreach (var area in shippingMethod.IncludedShippingAreas) {
                j++;
                if (includedAreaToGoogleFormatString.ContainsKey(area)) {
                    <input type="hidden" name="@string.Format(includedAreaToGoogleFormatString[area].Key, i, j)" value="@includedAreaToGoogleFormatString[area].Value" />
                }
                else {
                    <!-- Warning! Area @area not supported for inclusion in Google -->
                }
            }
        }
        j = 0;
        if (shippingMethod.ExcludedShippingAreas != null) {
            foreach (var area in shippingMethod.ExcludedShippingAreas) {
                j++;
                if (excludedAreaToGoogleFormatString.ContainsKey(area)) {
                    <input type="hidden" name="@string.Format(excludedAreaToGoogleFormatString[area].Key, i, j)" value="@excludedAreaToGoogleFormatString[area].Value" />
                }
                else {
                    <!-- Warning! Area @area not supported for inclusion in Google -->
                }
            }
        }
    }
    <input id="paypalimg" type="image" name="Paypal Checkout" alt="@T("Fast checkout through Paypal")"
            src = "https://www.paypal.com/en_AU/i/bnr/bnr_shopNowUsing_150x40.gif" height="@height" width="@width"/>
</form>
<p style="text-align: center">
    <h4 style="display: none" id="hidden">
        Redirecting to Paypal...<img  src="@Href("~/Modules/Richinoz.Paypal/Content/loading.gif") " alt="@T("Loading") " title="@T("loading") " />
    </h4>
    
</p>
