@using Orchard.Utility.Extensions;
@{
    if (Model.Title != null) {
        Layout.Title = Model.Title;
    }
	Orchard.ContentManagement.ContentItem contentItem = Model.ContentItem;
    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
}
IN Content-Product.cshtml
<article class="post post-page content-item @contentTypeClassName">
    <header>
        @Display(Model.Header)
    </header>
	@Html.ItemDisplayLink(T("Read More...").ToString(), contentItem)
	
    @Display(Model.Content)
    @if (Model.Meta != null) {
        <div class="post-meta">
            @Display(Model.Meta)
        </div>
    }
    @if (Model.Footer != null) {
        <footer>
            @Display(Model.Footer)
        </footer>
    }
</article>
