@using Orchard.ContentManagement
@*doing excerpt generation on the way out for now so we don't stick ourselves with needing to regen excerpts for existing data
  also, doing this here, inline, until we have a pluggable processing model (both in and out)
  also, ...this is ugly *@
@{ 
   
    Orchard.ContentManagement.ContentItem contentItem = Model.ContentPart.ContentItem;    
    //string bodyHtml = Model.Html.ToString();
    //var body = new HtmlString(Html.Excerpt(bodyHtml, 200).ToString().Replace(Environment.NewLine, "</p>" + Environment.NewLine + "<p>")); 
}
@*<div class = "hidden-phone">*@
<div >
    @{
        var metadata = contentItem.ContentManager.GetItemMetadata(contentItem);
        if (metadata.DisplayRouteValues != null) {
            
            <a href="@Url.Action(Convert.ToString(metadata.DisplayRouteValues["action"]), metadata.DisplayRouteValues)">
                @Model.Html
            </a>
          @*  @Html.ActionLink(
                metadata.DisplayText,
                Convert.ToString(metadata.DisplayRouteValues["action"]),
                metadata.DisplayRouteValues);
        
            <p>@metadata.DisplayText</p>
            <p>@Convert.ToString(metadata.DisplayRouteValues["action"])</p>
            <p>@metadata.DisplayRouteValues</p>*@

        }
    }
    
    @*<p>@Model.Html @Html.ItemDisplayLink(T("more").ToString(), contentItem)</p>*@
</div>
